form {
    display: grid;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

form input {
    border: 1px solid black;
}

form textarea {
    border: 1px solid black;
}